<div class="card">
    <div class="card-header" id="headingGTwo">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#accordionC21" aria-expanded="false" aria-controls="accordionC21">
                Family Violence
            </button>
        </h5>
    </div>
    <div id="accordionC21" class="collapse" aria-labelledby="headingGTwo" data-parent="#accordion4" style="">
        <div class="card-body">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/app-assets/images/carousel/01.jpg" alt="Card image cap">
                    <div class="card-body border-info">
                        <h4 class="card-title">Connect with your customer</h4>
                        <p class="card-text">Learn how to build trust through active listening and being genuine.</p>
                        <p class="card-text">

                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-fluid" src="/app-assets/images/carousel/11.jpg" alt="Card image cap">
                    <div class="card-body border-info">
                        <h4 class="card-title">Your personality in conflict</h4>
                        <p class="card-text">Know your personality type in conflict and understand the impact each of these has on those around us.</p>
                        <p class="card-text">

                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-fluid" src="/app-assets/images/carousel/23.jpg" alt="Card image cap">
                    <div class="card-body border-info">
                        <h4 class="card-title">Language carries energy</h4>
                        <p class="card-text">Learn how to stay positive - negative language is an endorphin killer for you and your customer</p>
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>