<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top"
     style="background-color: #000 !important; min-height: unset; height: 56px;">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="collapse navbar-collapse show">

                <div class="col-md-4">
                    <img src="~/assets/images/ematrix-w-logo.png" style="height: 50px;" class="fv-image-logo" />
                </div>
                <div class="col-md-4 text-center">
                    <span style="font-size: 2rem; font-weight: 900; position: relative; color: #fff;">TestDev</span>
                </div>

                <div class="col-md-4">
                    <ul id="top-right-menu-items" class="nav navbar-nav float-right">
                        
                        <li class="dropdown nav-item">

                            <a class="nav-link nav-link-label" href="/Account/Logout">
                                <i class="la la-sign-out"></i> <span style="font-size: 12px; position: relative; bottom: 3px; right: 5px">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</nav>