# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TestDev.iml
# Datasource local storage ignored files
/../../../../../../:\EMatrix Workspace\TestDev\.idea\.idea.TestDev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
